.App.ui.container {
  padding-top: 8px!important;
}

.App > .sidebar > .container {
  max-width: 500px!important;
}

.ui .Game > .menu {
  margin-bottom: 0;
  position: relative;
  left: -1px;
}

.ui .Game > .menu > .item {
  height: 80px;
}

.ui .Game > .menu > .item > .label {
  border-radius: 0;
}

.ui .Game > .menu > .item > .label {
  margin-left: 0;
}

.ui .Game > .GameContent > div > .menu.secondary > .item {
  height: 50px;
}

.ui .LFG table .circular.icon {
  margin: 0 .7rem .2rem 0;
}

.ui.modals.dimmer.inverted>.modal>.close.icon {
  color: rgba(0, 0, 0, 0.87);
}

.ui.padded.table td {
  padding: 0.8em 1em;
}

.ui.table.selectable tr.clickable {
  cursor: pointer;
}

.ui.table.selectable tr.clickable.disabled {
  cursor: default;
}

/* Overrides */

.zero-padding {
  padding: 0 !important;
}

.no-border {
  border: none !important;
}